PORT=3000

NODE_ENV=development

# frontend url
APP_ORIGIN=http://localhost:5173

MONGO_URI=mongodb://localhost:27017/{DB_NAME}

JWT_SECRET=myjwtsecret
JWT_REFRESH_SECRET=myjwtrefreshsecret

EMAIL_SENDER=a
RESEND_API_KEY=a
